*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.5vw;
  background-color: rgb(43, 33, 22);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 156, 130);
  border-radius: 10px;
}

:root {
  /*COLORS*/
  --color1: #16130f;
  --color2: rgb(216, 216, 216);
  --color3: #000;

  /*FONTS*/
  --pt-sans: "PT Sans", sans-serif;
  --poppins: "Poppins", sans-serif;

  --regular: 400;
  --light: 300;
  --extra-light: 200;

  --pseudo-animation1: none;
  --pseudo-animation2: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
  overflow-x: hidden;
}

.hideScrollbar {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

.loading-animation,
.container1 {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.loading-animation {
  position: fixed;
  z-index: 99999;
  background: var(--color1);
}

/* Removes Loading animation when 
   website fully loads */
.ringRemove {
  display: none;
}

.ringContainer {
  position: relative;
}

.circle {
  border-radius: 50%;
  border: 4px solid gray;
  height: 50px;
  width: 50px;
}

/* div that covers a 
    small part of the ring */
.box {
  position: absolute;
  background: var(--color1);
  width: 20px;
  height: 20px;
  right: 0;
  animation: box 1s linear forwards infinite;
}

@keyframes box {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-150%);
  }
  50% {
    transform: translate(-150%, 150%);
  }
  75% {
    transform: translateY(150%);
  }
  100% {
    transform: translate(0);
  }
}

/*----------------PAGE1---------------------------*/

.container1 {
  overflow-x: hidden;
  background-image: url(./images/joshua-bartell-6vvIBTvL90A-unsplash.jpg);
  background-size: cover;
}

.title {
  max-width: 300px;
}

/* Transitions */
.title h1,
.title p,
.project-link,
.fab,
.fas,
.button,
.far {
  transition: all ease-in-out 350ms;
}

/* Positioned relative */
.title-animation,
.title-animation div > span,
.work,
.far {
  position: relative;
}

/* Positioned Absolutely */
.title-animation::after,
.title-animation::before,
.title-animation div > span::after,
.filter {
  position: absolute;
}

.title-animation {
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.xwheel {
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  transform: rotate(45deg);
}

.xwheel:hover {
  animation: wheelhover 1s linear infinite forwards;
}

@keyframes wheelhover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.xwheel-animation {
  animation: wheel 2s ease-in-out forwards;
}

@keyframes wheel {
  100% {
    transform: rotate(675deg);
  }
}

.title-animation::after,
.title-animation::before {
  content: "";
  width: 46%;
  height: 1px;
  background-color: white;
}

.title-animation::after {
  left: 0;
  top: 50%;
  transform: translate(-101%);
  animation: var(--pseudo-animation1);
}

.title-animation::before {
  right: 0;
  top: 50%;
  transform: translate(100%);
  animation: var(--pseudo-animation2);
}

@keyframes line1 {
  100% {
    transform: translate(0);
  }
}

@keyframes line2 {
  100% {
    transform: translate(0);
  }
}

.title-animation div > span,
.title-animation div > span::after {
  width: 100%;
  height: 1px;
  background: white;
}

.title-animation div > span::after {
  content: "";
  transform: rotate(90deg);
}

.title,
.hero_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_title,
.hero-links {
  border-bottom: solid 1px white;
}

.title h1 {
  font-size: 2rem;
  text-align: center;
  font-family: var(--pt-sans);
  font-weight: var(--regular);
  margin: 10px 0;
  line-height: 1;
}

.hero_title {
  height: 100px;
  width: 100%;
  justify-content: center;
}

.title p {
  font-size: 1rem;
  font-weight: var(--extra-light);
  margin-bottom: 15px;
}

.title h1,
.title p,
.fab,
.fas {
  color: var(--color2);
}

.fab {
  font-size: 1rem;
  padding: 0.3em 0.8em;
}

.fas {
  padding: 0.3em 0.6em;
}

.hero-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 45px;
  overflow: hidden;
}

.fa-github-square {
  transform: translate(-300%);
}

.link1-animation {
  animation: link1 0.8s ease-in-out 1.2s forwards;
}

@keyframes link1 {
  to {
    transform: translate(0);
  }
}

.fa-linkedin {
  transform: translate(-600%);
}

.link2-animation {
  animation: link2 0.8s ease-in-out 0.8s forwards;
}

@keyframes link2 {
  to {
    transform: translate(0);
  }
}

.fa-folder-open {
  transform: translate(-900%);
}

.link3-animation {
  animation: link3 0.8s ease-in-out 0.5s forwards;
}

@keyframes link3 {
  to {
    transform: translate(0);
  }
}

/*TABLETS*/
@media (min-width: 820px) {
  .title {
    max-width: 36.5rem;
  }

  .hero_title,
  .hero-links {
    border-bottom: solid 2px white;
  }

  .title-animation div {
    height: 43px;
    width: 43px;
  }

  .hero_title {
    height: 200px;
  }

  .title h1 {
    font-size: 3.9rem;
  }

  .title p {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .fab,
  .fas {
    font-size: 1.95625rem;
    padding: 0.3em 0.8em;
  }

  .hero-links {
    gap: 75px;
  }

  .title-animation::after,
  .title-animation::before {
    height: 2px;
  }

  .title-animation div > span,
  .title-animation div > span::after {
    height: 2px;
  }

  .fas {
    padding: 0.3em 0.6em;
  }
}
/*DESKTOP*/
@media (min-width: 1550px) {
  .fab,
  .fas {
    border-radius: 20px;
    outline: solid 2px transparent;
  }

  .fab:hover,
  .fas:hover {
    outline: solid 2px #fff;
  }
}

/*------------------PAGE2----------------------------*/
.displayNone {
  display: none;
}

.fixedImage {
  position: fixed;
  z-index: -1;
  min-width: 2920px;
  top: 0;
  bottom: 0;
}

.sliderButton {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  aspect-ratio: 1;
  border: none;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-block: 30px solid black;
  height: 60vh;
  gap: 10px;
}

.filter {
  z-index: 2;
  inset: 0;
  position: absolute;
  background-color: var(--color1);
  opacity: 0.5;
}

.projects {
  width: 95%;
  height: 65%;
  position: relative;
}

.work {
  inset: 0;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 350ms;
  transition-delay: 350ms;
}

.work,
.workDescription {
  display: flex;
}

.workDescription {
  position: absolute;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
  margin: 5% 5%;
}

.work h1,
.work p {
  color: white;
}

.work h1 {
  font-family: var(--pt-sans);
  font-size: 1.2rem;
}

.work p {
  font-weight: var(--extra-light);
  font-size: 0.7rem;
}

.work[data-active] {
  z-index: 1;
  opacity: 1;
  transition-delay: 0ms;
}

.work > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectButtons {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  bottom: 30px;
}

.project-link {
  z-index: 3;
  color: var(--color2);
  font-family: var(--pt-sans);
  font-weight: var(--regular);
  font-size: 0.6rem;
  border: solid 1px var(--color2);
  color: var(--color2);
  width: 80px;
  padding-block: 0.6em;
  text-align: center;
  border-radius: 10px;
  will-change: transform;
}

/* RESPONSIVENESS */

@media (min-width: 540px) {
  .container2 {
    height: 70vh;
  }

  .workDescription {
    width: 60%;
    gap: 30px;
  }
}

@media (min-width: 912px) {
  .container2 {
    height: 60vh;
    gap: 20px;
  }

  .sliderButton {
    height: 90px;
  }

  .projectButtons {
    bottom: 120px;
  }

  .project-link {
    font-size: 1rem;
    width: 150px;
  }
}

@media (min-width: 1024px) {
  .fixedImage {
    min-width: 1920px;
  }

  .container2 {
    flex-direction: row;
    height: 100vh;
  }

  .projects {
    width: 90%;
    height: 87%;
  }

  .work h1 {
    font-size: 2rem;
  }

  .work p {
    font-size: 1rem;
  }

  .projectButtons {
    bottom: 40px;
  }
}

@media (min-width: 1650px) {
  .projects {
    width: 70%;
    height: 85%;
  }

  .workDescription {
    align-self: center;
    width: 30%;
    gap: 50px;
  }

  .work h1 {
    font-size: 3rem;
  }

  .work p {
    line-height: 1.7;
    font-size: 1.2rem;
  }

  .filter,
  .workDescription {
    opacity: 0;
    transition: all ease-in-out 350ms;
  }

  .projectButtons {
    bottom: 120px;
    gap: 40px;
  }

  .work:hover {
    background-size: 105% 105%;
  }

  .work:hover .workDescription {
    opacity: 1;
  }

  .work:hover .filter {
    opacity: 0.7;
  }

  .work:hover .project-link {
    background: transparent;
    outline: solid var(--color2) 1px;
    color: var(--color2);
  }

  .project-link {
    background: var(--color2);
    color: var(--color3);
  }

  .project-link:hover {
    transform: scale(1.1);
  }
}

/*------------------PAGE3----------------------------*/

footer {
  height: 100vh;
  background: var(--color1);
}

footer,
.container3,
.aboutme {
  display: grid;
  place-items: center;
}

.container3 {
  height: 90vh;
  width: 90%;
  border: solid 1px var(--color2);
  border-radius: 2px;
}

.aboutme {
  height: 96%;
  width: 90%;
  border-radius: 20px;
}

.aboutme p,
.skills {
  font-size: 0.7rem;
  font-weight: var(--extra-light);
}

.aboutme p,
.aboutme h1,
.aboutme li {
  color: var(--color2);
}

.aboutme h1 {
  margin-top: 0.2em;
  font-family: var(--pt-sans);
  font-weight: var(--regular);
}

.aboutme p,
.line1,
.line2 {
  width: 95%;
}

.line1,
.line2 {
  height: 1px;
  background: var(--color2);
}

.skills {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  text-align: center;
}

.skills ul {
  list-style: none;
  line-height: 2;
}

.button {
  width: 80px;
  height: 30px;
  padding-block: 0.5em;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color2);
  font-size: 0.6rem;
  color: var(--color1);
}

.footerButtons {
  display: flex;
}

.far,
.far::after,
.far::before {
  display: none;
}

/*RESPONSIVENESS*/

/*MediumTablets*/
@media (min-width: 820px) {
  .aboutme {
    outline: solid 2px var(--color2);
  }

  .aboutme p,
  .skills {
    font-size: 1rem;
  }

  .aboutme p,
  .line1,
  .line2 {
    width: 80%;
  }

  .line1,
  .line2 {
    height: 2px;
  }

  .skills {
    width: 60%;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .button {
    width: 100px;
    padding-block: 0.6em;
    margin: 80px 20px;
    font-size: 0.8rem;
  }
}

/*Tablets*/
@media (min-width: 1024px) {
  .aboutme p,
  .skills {
    font-size: 0.8rem;
  }

  .skills {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    gap: 50px;
  }

  .aboutme {
    width: 97%;
  }

  .aboutme p,
  .skills {
    padding-block: 1.5em;
  }

  .container3 {
    width: 50%;
    border: solid 2px var(--color2);
  }
}

/* Desktops */
@media (min-width: 1550px) {
  .aboutme p,
  .skills {
    font-size: 1rem;
  }

  .far,
  .far::after,
  .far::before {
    display: inline-block;
  }

  .far {
    color: var(--color2);
    opacity: 0;
  }

  .fa-file {
    transform: translate(-300%);
  }

  .fa-envelope {
    transform: translate(250%);
  }

  .buttonHover:hover .button {
    background: transparent;
    color: var(--color2);
    outline: solid 1px var(--color2);
  }

  .buttonHover:hover .far {
    transform: translate(0);
    opacity: 1;
  }

  .buttonHover a > input {
    cursor: pointer;
  }
}
